.list {
  min-width: 330px;
  width: 330px;
  height: calc(100vh - 90px);
  max-height: calc(100vh - 90px);
  overflow: auto;
  right: 0;
  background-color: var(--secondary);
  padding: 12px;
  position: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.5s ease;
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--secondary-button);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    .option,
    .author,
    .title {
      color: var(--primary);
    }
  }

  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }

  .song .body {
    flex: 1;
    padding: 0 16px;
  }

  .song .title {
    font-size: 18px;
    color: var(--primary);
  }

  .song .author {
    font-size: 12px;
    color: var(--primary);
  }

  .song .option {
    padding: 16px 8px;
    color: var(--primary);
    font-size: 18px;
  }

  .active {
    background-color: var(--primary-button);
    .option,
    .author,
    .title {
      color: var(--secondary);
    }
  }
}
